[submodule "libretro/picodrive/platform/libpicofe"]
	path = libretro/picodrive/platform/libpicofe
	url = https://github.com/irixxxx/libpicofe.git
[submodule "libretro/picodrive/cpu/cyclone"]
	path = libretro/picodrive/cpu/cyclone
	url = https://github.com/irixxxx/cyclone68000.git
[submodule "libretro/picodrive/pico/sound/emu2413"]
	path = libretro/picodrive/pico/sound/emu2413
	url = https://github.com/digital-sound-antiques/emu2413.git
	branch = main
[submodule "libretro/picodrive/pico/cd/libchdr"]
	path = libretro/picodrive/pico/cd/libchdr
	url = https://github.com/irixxxx/libchdr.git
[submodule "libretro/picodrive/platform/common/dr_libs"]
	path = libretro/picodrive/platform/common/dr_libs
	url = https://github.com/mackron/dr_libs.git
[submodule "libretro/snes9x/external/SPIRV-Cross"]
	path = libretro/snes9x/external/SPIRV-Cross
	url = https://github.com/KhronosGroup/SPIRV-Cross.git
[submodule "libretro/snes9x/external/cubeb"]
	path = libretro/snes9x/external/cubeb
	url = https://github.com/mozilla/cubeb.git
[submodule "libretro/snes9x/external/glslang"]
	path = libretro/snes9x/external/glslang
	url = https://github.com/KhronosGroup/glslang.git
[submodule "libretro/snes9x/external/vulkan-headers"]
	path = libretro/snes9x/external/vulkan-headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "libretro/snes9x/win32/libpng/src"]
	path = libretro/snes9x/win32/libpng/src
	url = https://git.code.sf.net/p/libpng/code
[submodule "libretro/snes9x/win32/zlib/src"]
	path = libretro/snes9x/win32/zlib/src
	url = https://github.com/madler/zlib.git
