@ -1,36 +0,0 @@
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

ipch/**
Debug/**
Release/**
libs/libSDLx360/Debug/**
libs/libSDLx360/Release/**
libs/libSDLx360/_UpgradeReport*/**
libs/libSDLx360/ipch/**
libs/SDL_ttf360/Debug/**
libs/SDL_ttf360/Release/**
libs/SDL_ttf360/_UpgradeReport*/**
libs/SDL_ttf360/ipch/**
libs/SDL_image-1.2.12/libjpeg/Release/**
libs/SDL_image-1.2.12/lpng1513/projects/vstudio/**/Release/**
libs/SDL_image-1.2.12/lpng1513/projects/vstudio/**/Debug/**
libs/SDL_image-1.2.12/VisualC/**/Release/**
*.sms
*.zip
*.gen

Debug_gambatte/**
Release_gambatte/**